# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Dependencies
node_modules/

# Metro
.metro-health-check*

# Env
.env*.local
.env

# macOS
.DS_Store
